Repository dhis2/app-hub, pull requests merged in 2020-04, with the labels that each got.

#285 refactor: split media to own table and connect to app instead of version
  .gitignore
  server/migrations/20200310134835_refactor-media.js
  server/seeds/01_organisation-developers.js
  server/seeds/05_media.js
  server/seeds/05_mediatype.js
  server/seeds/06_media.js
  server/seeds/mock/appversions.js
  server/seeds/mock/mime_type.js
  server/src/data/addAppMedia.js
  server/src/data/addMedia.js
  server/src/data/deleteMedia.js
  server/src/data/getAppMedia.js
  server/src/data/getApps.js
  server/src/data/getMedia.js
  server/src/data/index.js
  server/src/data/setImageAsLogoForApp.js
  server/src/data/updateImageMeta.js
  server/src/enums/index.js
  server/src/routes/v1/apps/formatting/convertAppsToApiV1Format.js
  server/src/routes/v1/apps/handlers/createApp.js
  server/src/routes/v1/apps/handlers/deleteImage.js
  server/src/routes/v1/apps/handlers/getAppMedia.js
  server/src/routes/v1/apps/handlers/uploadImageToApp.js
  server/src/routes/v1/apps/index.js
  server/test/data/index.js
  server/test/services/organisation.js
Labels: server

#306 chore: cut release
  .github/workflows/docker-publish.yml
  .gitignore
  CHANGELOG.md
  buildspec.yml
  client/cypress.json
  client/indexbuild.html
  client/package.json
  package.json
  server/migrations/20200310134835_refactor-media.js
  server/package.json
  server/seeds/01_organisation-developers.js
  server/seeds/05_media.js
  server/seeds/05_mediatype.js
  server/seeds/06_media.js
  server/seeds/mock/appversions.js
  server/seeds/mock/mime_type.js
  server/src/data/addAppMedia.js
  server/src/data/addMedia.js
  server/src/data/deleteMedia.js
  server/src/data/getAppMedia.js
  server/src/data/getApps.js
  server/src/data/getMedia.js
  server/src/data/index.js
  server/src/data/setImageAsLogoForApp.js
  server/src/data/updateImageMeta.js
  server/src/enums/index.js
  server/src/routes/v1/apps/formatting/convertAppsToApiV1Format.js
  server/src/routes/v1/apps/handlers/createApp.js
  server/src/routes/v1/apps/handlers/deleteImage.js
  server/src/routes/v1/apps/handlers/getAppMedia.js
  server/src/routes/v1/apps/handlers/uploadImageToApp.js
  server/src/routes/v1/apps/index.js
  server/test/data/index.js
  server/test/services/organisation.js
  server/test/utils/testfile.json
  tools/package.json
  yarn.lock
Labels: client, server

#307 fix: allow admins to download all apps
  client/src/components/appVersion/VersionListEdit.jsx
  server/seeds/01_organisation-developers.js
  server/seeds/mock/users.js
  server/src/data/getOrganisationAppsByUserId.js
  server/src/data/index.js
  server/src/routes/v1/apps/handlers/createAppVersion.js
  server/src/routes/v1/apps/handlers/editApp.js
  server/src/routes/v1/apps/handlers/editAppVersion.js
  server/src/routes/v1/apps/handlers/getAppFile.js
  server/src/routes/v1/apps/handlers/getMyApps.js
  server/src/routes/v1/apps/handlers/getSingleApp.js
  server/src/routes/v2/organisations.js
  server/src/security/index.js
  server/test/routes/v2/organisations.js
  server/test/services/organisation.js
Labels: client, server

#194 feat: filtering
  server/package.json
  server/src/models/v2/Default.js
  server/src/models/v2/Organisation.js
  server/src/models/v2/User.js
  server/src/models/v2/helpers.js
  server/src/plugins/apiRoutes.js
  server/src/plugins/errorMapper.js
  server/src/plugins/queryFilter.js
  server/src/plugins/staticFrontendRoutes.js
  server/src/routes/v2/index.js
  server/src/routes/v2/organisations.js
  server/src/server/init-server.js
  server/src/services/organisation.js
  server/src/utils/CustomJoi.js
  server/src/utils/Filter.js
  server/src/utils/databaseUtils.js
  server/src/utils/errors.js
  server/src/utils/filterUtils.js
  server/test/plugins/queryFilter.js
  server/test/routes/v2/organisations.js
  server/test/services/organisation.js
  server/test/utils/filter.js
  server/test/utils/index.js
  yarn.lock
Labels: server

#311 fix: handle anonymous requests to getAppFile
  server/src/routes/v1/apps/handlers/getAppFile.js
  server/src/routes/v1/apps/handlers/getSingleApp.js
Labels: server

#312 chore: cut release
  CHANGELOG.md
  client/package.json
  client/src/components/appVersion/VersionListEdit.jsx
  migrations/20200203182043_fix_view_users_with_organisations.js
  package.json
  server/package.json
  server/seeds/01_organisation-developers.js
  server/seeds/mock/users.js
  server/src/data/getOrganisationAppsByUserId.js
  server/src/data/index.js
  server/src/models/v2/Default.js
  server/src/models/v2/Organisation.js
  server/src/models/v2/User.js
  server/src/models/v2/helpers.js
  server/src/plugins/apiRoutes.js
  server/src/plugins/errorMapper.js
  server/src/plugins/queryFilter.js
  server/src/plugins/staticFrontendRoutes.js
  server/src/routes/v1/apps/handlers/createAppVersion.js
  server/src/routes/v1/apps/handlers/editApp.js
  server/src/routes/v1/apps/handlers/editAppVersion.js
  server/src/routes/v1/apps/handlers/getAppFile.js
  server/src/routes/v1/apps/handlers/getMyApps.js
  server/src/routes/v1/apps/handlers/getSingleApp.js
  server/src/routes/v2/index.js
  server/src/routes/v2/organisations.js
  server/src/security/index.js
  server/src/server/init-server.js
  server/src/services/organisation.js
  server/src/utils/CustomJoi.js
  server/src/utils/Filter.js
  server/src/utils/databaseUtils.js
  server/src/utils/errors.js
  server/src/utils/filterUtils.js
  server/test/plugins/queryFilter.js
  server/test/routes/v2/organisations.js
  server/test/services/organisation.js
  server/test/utils/filter.js
  server/test/utils/index.js
  tools/package.json
  yarn.lock
Labels: client, server

#314 fix(createapp): add user to organisation if org does note xist
  server/src/routes/v1/apps/handlers/createApp.js
Labels: server

#315 fix: move users-with-organisations view to correct folder
  server/migrations/20200203182043_fix_view_users_with_organisations.js
Labels: server

#317 fix: appcard height
  client/src/components/appCards/AppCardItem.jsx
Labels: client
