Repository dhis2/app-hub, pull requests merged in 2020-08, with the labels that each got.

#354 fix(editversion): allow null as demoUrl
  server/src/data/createAppVersion.js
  server/src/plugins/errorMapper.js
  server/src/routes/v1/apps/handlers/createAppVersion.js
  server/test/data/createAppVersion.js
  server/test/plugins/errorMapper.js
  server/test/plugins/queryFilter.js
Labels: server

#356 chore(release): v2.6.1
  CHANGELOG.md
  client/package.json
  package.json
  server/package.json
  server/src/data/createAppVersion.js
  server/src/plugins/errorMapper.js
  server/src/routes/v1/apps/handlers/createAppVersion.js
  server/src/routes/v2/organisations.js
  server/src/services/organisation.js
  server/test/data/createAppVersion.js
  server/test/plugins/errorMapper.js
  server/test/plugins/queryFilter.js
  server/test/routes/v2/organisations.js
  server/test/services/organisation.js
  tools/package.json
  yarn.lock
Labels: client, server

#360 fix: use wildcard for matching patch-versions
  server/src/utils/filters.js
Labels: server

#361 fix: use slug + version as filename on download
  server/src/routes/v1/apps/formatting/convertAppsToApiV1Format.js
  server/src/routes/v1/apps/handlers/getAppFile.js
  server/test/routes/index.js
Labels: server

#362 chore(release): v2.6.3
  CHANGELOG.md
  client/package.json
  package.json
  server/package.json
  server/src/routes/v1/apps/formatting/convertAppsToApiV1Format.js
  server/src/routes/v1/apps/handlers/getAppFile.js
  server/src/utils/filters.js
  server/test/routes/index.js
  tools/package.json
Labels: client, server

#363 fix: verify developer permission correctly on several API endpoints
  server/src/routes/v1/apps/handlers/deleteAppVersion.js
  server/src/routes/v1/apps/handlers/deleteImage.js
  server/src/routes/v1/apps/handlers/uploadImageToApp.js
Labels: server

#365 chore: update next after accidental merge to master
  CHANGELOG.md
  client/package.json
  package.json
  server/package.json
  server/src/routes/v1/apps/handlers/deleteAppVersion.js
  server/src/routes/v1/apps/handlers/deleteImage.js
  server/src/routes/v1/apps/handlers/uploadImageToApp.js
  tools/package.json
Labels: client, server

#366 feat: add 2.35 as supported dhis2-version
  client/default.config.js
  client/development.config.js
  client/test/config/configResolver.spec.js
Labels: client
