Repository dhis2/app-hub, pull requests merged in 2020-05, with the labels that each got.

#316 fix(clone): keep owner access
  client/default.config.js
  client/development.config.js
  client/src/actions/epics.js
  client/src/components/appCards/AppCardItem.jsx
  client/test/config/configResolver.spec.js
  server/src/data/index.js
  server/src/models/v1/in/CreateAppModel.js
  server/src/routes/v1/apps/handlers/createApp.js
  server/src/routes/v1/apps/handlers/editApp.js
  server/src/services/organisation.js
  tools/clone.js
  tools/helpers/getAuthToken.js
Labels: client, server

#320 fix: show org name instead of individual dev
  client/src/components/appCards/AppCardItem.jsx
  client/src/components/appView/AppView.jsx
  server/src/models/v1/in/CreateAppModel.js
  server/src/services/organisation.js
Labels: client, server

#321 chore: cut release
  CHANGELOG.md
  client/default.config.js
  client/development.config.js
  client/package.json
  client/src/actions/epics.js
  client/src/components/appCards/AppCardItem.jsx
  client/src/components/appView/AppView.jsx
  client/test/config/configResolver.spec.js
  package.json
  server/migrations/20200203182043_fix_view_users_with_organisations.js
  server/package.json
  server/src/data/index.js
  server/src/models/v1/in/CreateAppModel.js
  server/src/routes/v1/apps/handlers/createApp.js
  server/src/routes/v1/apps/handlers/editApp.js
  server/src/services/organisation.js
  tools/clone.js
  tools/helpers/downloadImages.js
  tools/helpers/getAuthToken.js
  tools/package.json
Labels: client, server

#332 fix: upload and deletion of logo
  server/src/data/deleteAppMedia.js
  server/src/data/index.js
  server/src/routes/v1/apps/handlers/createApp.js
  server/src/routes/v1/apps/handlers/deleteImage.js
Labels: server

#333 feat(log): log version and build date in client console
  client/src/app-hub.js
  client/webpack.config.js
Labels: client

#334 chore: cut release
  .ebextensions/proxy.config
  CHANGELOG.md
  client/package.json
  client/src/app-hub.js
  client/webpack.config.js
  package.json
  server/package.json
  server/src/data/deleteAppMedia.js
  server/src/data/index.js
  server/src/routes/v1/apps/handlers/createApp.js
  server/src/routes/v1/apps/handlers/deleteImage.js
  tools/package.json
Labels: client, server

#338 refactor: remove explicit usage of knex transacting
  server/src/data/addAppMedia.js
  server/src/data/addAppVersionToChannel.js
  server/src/data/addMedia.js
  server/src/data/addUserToOrganisation.js
  server/src/data/appExists.js
  server/src/data/createApp.js
  server/src/data/createAppStatus.js
  server/src/data/createAppVersion.js
  server/src/data/createChannel.js
  server/src/data/createLocalizedAppVersion.js
  server/src/data/createOrganisation.js
  server/src/data/createUser.js
  server/src/data/deleteApp.js
  server/src/data/deleteAppMedia.js
  server/src/data/deleteAppVersion.js
  server/src/data/deleteChannel.js
  server/src/data/deleteMedia.js
  server/src/data/deleteOrganisation.js
  server/src/data/renameChannel.js
  server/src/data/setImageAsLogoForApp.js
  server/src/data/updateApp.js
  server/src/data/updateAppVersion.js
  server/src/data/updateImageMeta.js
  server/src/routes/v1/apps/handlers/createApp.js
  server/src/routes/v1/apps/handlers/deleteAppVersion.js
  server/src/routes/v1/apps/handlers/deleteImage.js
  server/src/routes/v1/apps/handlers/uploadImageToApp.js
  server/src/routes/v2/channels.js
  server/src/security/createUserValidationFunc.js
  server/src/server/create-api-user.js
  server/test/data/channels.js
  server/test/data/createAppVersion.js
  server/test/data/index.js
Labels: server
