Repository dhis2/app-hub, pull requests merged in 2021-01, with the labels that each got.

#421 fix: improve README instructions for local installation
  README.md
  package.json
  server/.env.template
  server/env.template
  server/package.json
Labels: server

#423 chore: release next
  CHANGELOG.md
  README.md
  client/package.json
  client/src/components/appView/ImageViewer.jsx
  package.json
  server/.env.template
  server/env.template
  server/package.json
  tools/package.json
Labels: client, server

#427 chore(webpack): add font-files to file loader
  client/webpack.config.js
Labels: client

#426 fix(imageviewer): center image when only one image
  client/indexbuild.html
  client/package.json
  client/src/components/AppHub.jsx
  client/src/components/appView/ImageViewer.jsx
  yarn.lock
Labels: client
