Repository dhis2/app-hub, pull requests merged in 2021-02, with the labels that each got.

#428 chore(release): release fix for imageviewer centering
  CHANGELOG.md
  client/indexbuild.html
  client/package.json
  client/src/components/AppHub.jsx
  client/src/components/appView/ImageViewer.jsx
  client/webpack.config.js
  package.json
  server/package.json
  tools/package.json
  yarn.lock
Labels: client, server

#430 refactor: remove unused API constants
  client/src/constants/apiConstants.js
Labels: client

#384 feat(pagination): initial pagination implementation
  server/package.json
  server/src/plugins/pagination.js
  server/src/query/Pager.js
  server/src/query/executeQuery.js
  server/src/server/init-server.js
  server/test/plugins/pagination.js
  server/test/query/executeQuery.js
  yarn.lock
Labels: server

#425 feat: update authentication flow
  .github/workflows/docker-test.yml
  client/default.config.js
  client/development.config.js
  client/package.json
  client/src/actions/actionCreators.js
  client/src/actions/epics.js
  client/src/api/AppHubAPI.js
  client/src/api/api.js
  client/src/components/AppHub.jsx
  client/src/components/appCards/AppCards.jsx
  client/src/components/appVersion/VersionListEdit.jsx
  client/src/components/auth/AuthProvider.js
  client/src/components/auth/LogoutButton.js
  client/src/components/auth/ProtectedRoute.js
  client/src/components/header/Header.jsx
  client/src/components/user/UserView.jsx
  client/src/components/utils/PrivateRoute.jsx
  client/src/constants/actionTypes.js
  client/src/constants/apiConstants.js
  client/src/reducers/userReducer.js
  client/src/utils/AuthService.js
  server/.env.template
  server/package.json
  server/src/plugins/apiRoutes.js
  server/src/plugins/pagination.js
  server/src/security/createUserValidationFunc.js
  server/src/security/index.js
  server/src/server/Auth0ManagementClient.js
  server/src/server/env-config.js
  server/test/security/index.js
  yarn.lock
Labels: client, server

#437 fix(createApiUser): fix server crash when audience is changed
  server/src/main.js
  server/src/server/create-api-user.js
Labels: client, server
