Repository dhis2/app-hub, pull requests merged in 2021-03, with the labels that each got.

#431 feat(apps): use server-side pagination and filtering
  client/babel.config.js
  client/default.config.js
  client/development.config.js
  client/package.json
  client/src/actions/actionCreators.js
  client/src/actions/epics.js
  client/src/api/api.js
  client/src/api/utils.js
  client/src/components/AppHub.jsx
  client/src/components/appCards/AppCards.jsx
  client/src/components/appVersion/VersionList.jsx
  client/src/components/appView/AppView.jsx
  client/src/components/apps/Apps.jsx
  client/src/components/apps/Filters.jsx
  client/src/components/apps/Pagination.jsx
  client/src/components/apps/appCards/AppCardItem.jsx
  client/src/components/apps/appCards/AppCards.jsx
  client/src/components/header/SubHeader.jsx
  client/src/components/user/appList/AppList.jsx
  client/src/components/user/appUpload/AppUpload.jsx
  client/src/components/user/appUpload/AppUploadStepper.jsx
  client/src/components/utils/Error.jsx
  client/src/components/utils/Filters.jsx
  client/src/constants/actionTypes.js
  client/src/reducers/appListReducer.js
  client/src/reducers/formReducer.js
  client/src/reducers/userReducer.js
  package.json
  server/knexfile.js
  server/migrations/20210223140633_rename_channels.js
  server/package.json
  server/seeds/04_appchannel.js
  server/src/data/getApps.js
  server/src/main.js
  server/src/plugins/pagination.js
  server/src/routes/v1/apps/formatting/convertAppsToApiV1Format.js
  server/src/routes/v1/apps/handlers/createApp.js
  server/src/routes/v1/apps/handlers/getAllApprovedApps.js
  server/src/routes/v2/apps.js
  server/src/utils/CustomJoi.js
  server/test/data/index.js
  server/test/plugins/pagination.js
  server/test/routes/createApp.js
  server/test/routes/deleteApp.js
  server/test/routes/index.js
  tools/clone.js
  tools/helpers/uploadVersions.js
  yarn.lock
Labels: client, server

#445 fix(getApps): don't call toLowerCase on app type
  server/src/data/getApps.js
Labels: server

#447 feat: apiKey generation
  server/migrations/20210209171106_api-key.js
  server/package.json
  server/src/plugins/apiRoutes.js
  server/src/routes/v2/apikey.js
  server/src/routes/v2/index.js
  server/src/security/apiKeyScheme.js
  server/src/security/createApiKeyValidationFunc.js
  server/src/security/index.js
  server/src/services/apiKey.js
  server/src/services/index.js
  server/test/routes/v2/apiKey.js
  server/test/security/apiKeyScheme.js
  server/test/services/apiKey.js
Labels: server

#453 fix(client): update DHIS versions
  client/default.config.js
Labels: client

#450 fix(version): fix app version upload
  server/src/models/v1/in/CreateAppVersionModel.js
  server/src/routes/v1/apps/handlers/createAppVersion.js
Labels: server

#454 feat(apikey): frontend for api key generation
  client/package.json
  client/src/api/AppHubAPI.js
  client/src/api/api.js
  client/src/components/user/ApiKey.jsx
  client/src/components/user/UserView.jsx
  client/src/components/utils/NoteBlock.jsx
  server/src/routes/v2/apikey.js
  server/src/services/apiKey.js
  yarn.lock
Labels: client, server

#455 feat: add env-var for skipping db-migration
  server/src/server/migrate-database.js
Labels: server
